<% if (theme.valine && post.comments) { %>
<div id="vcomments"></div>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "<%= theme.v_appId %>",
        appKey: "<%= theme.v_appKey %>",
        path: window.location.pathname,
        placeholder: "缘分使我们相遇！留下足迹吧..."
      })
  }
</script>
<% } %>